.jumbotron{
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1610900603480-c0a85ac8e315?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1963&q=80) ;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
body{
  font-family:'Varela Round', sans-serif;
}
